/* Configurações gerais - COMEÇO */
* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: "Roboto";
}

/* Configurações gerais - FIM */

/* CABEÇALHO DO SITE */
header {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #ec362d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 69px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 5000;
}

header div {
  font-family: "Roboto";
  color: #ffffff;
  font-size: 37px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
}

/* CABEÇALHO DO SITE - FIM */

/* CONTEÚDO DO SITE DAQUI PRA BAIXO */
.container {
  max-width: 1051px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  margin-top: 146px;
}

/* PARTE DO "VOCÊ AINDA NÃO CRIOU NENHUM QUIZZ... */
.criar-quizz {
  width: 100%;
  height: 181px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 77px;
  background: #fafafa;
  border: 1px dashed #d5d5d5;
  border-radius: 5px;
}

.frase {
  width: 250px;
  height: 107px;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  display: flex;
  align-items: center;
  color: #b9b9b9;
}

.botao-criar {
  font-family: "Roboto";
  font-size: 21px;
  font-weight: 400;
  line-height: 25px;
  width: 136px;
  height: 40px;
  letter-spacing: 0em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ec362d;
  border: 1px dashed #ec362d;
  border-radius: 50px;
  cursor: pointer;
}

/* PARTE DO "VOCÊ AINDA NÃO CRIOU NENHUM QUIZZ... - FIM */

/* H1 REMETE AO "TODOS OS QUIZZES" */
h1 {
  font-family: "Roboto";
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0;
  color: #000000;
}

/* --FIM-- */

/* H2 REMETE AO "SEUS QUIZZES" */
h2 {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0;
  color: #000000;
}

/* --FIM-- */
/* =====Aqui o layout da segunda tela que aparece somente quando o user já criou quizzes======= */
.seus-quizzes {
  width: 100%;
  margin-bottom: 48px;
}

.titulo-seus-quizzes {
  width: 100%;
  display: flex;
  align-items: center;
}

.titulo-seus-quizzes ion-icon {
  font-size: 30px;
  color: #ec362d;
  align-items: left;
  margin-left: 17px;
}

.todos-meus-quizzes {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  column-gap: 15px;
}

.todos-meus-quizzes > div {
  flex: 0 1 340px;
}

/* =====Aqui o layout da segunda tela que aparece somente quando o user já criou quizzes - FIM ======= */

/* Container com todos os quizzes */
.todos-quizzes {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  column-gap: 15px;
}

.todos-quizzes > div {
  flex: 0 1 340px;
}

/* Quizz, dentro dele temos uma imagem e um texto com a classe texto-quizz */
.quizz {
  position: relative;
  display: inline-block;
}

.quizz:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  display: inline-block;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 65.1%,
    #000000 100%
  );
}

.quizz img {
  margin-top: 12px;
  width: 340px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.texto-quizz {
  font-family: "Roboto";
  width: 301px;
  font-size: 19px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  position: absolute;
  bottom: 7px;
  left: 18px;
  z-index: 4000;
  word-wrap: break-word;
  flex-wrap: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* --------------------------------------------------------
---------------------------TELA DE RESPOSTA DO QUIZZ-------
----------------------------------------------------------*/

/*cabecalho quizz*/

.respostas-quizz {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.cabecalho-quizz {
  position: relative;
  display: inline-block;
}

.cabecalho-quizz::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 227px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.6);
}
.respostas-quizz > .cabecalho-quizz {
  position: relative;
  top: 69px;
}

.cabecalho-quizz > img {
  width: 100vw;
  height: 227px;
  object-fit: cover;
  object-position: 0px -300px;
}

.texto-janela-quizz {
  position: absolute;
  z-index: 10;
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 39px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  word-wrap: break-word;
  flex-wrap: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*--------------------------------------------------------------------------
----------------------------Respostas Quizz---------------------------------
--------------------------------------------------------------------------*/

.quadro-respostas {
  width: 759px;
  height: auto;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;

  margin-top: 110px;

  padding: 27.91px 40px 35px 40px;

  gap: 0;
}

.cabecalho-quadro-respostas {
  width: 100%;
  height: 138px;
  background-color: #434ca0;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;
  font-family: "Roboto";
  font-size: 23px;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 20px;
  word-wrap: break-word;
  flex-wrap: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.respostas-quizz .repostas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  gap: 25px;
}

.respostas-quizz .repostas img {
  width: 325px;
  height: 175px;
  /* height: 175.2px; */
}

.alternativa .esbranquicado {
  position: relative;
  display: inline-block;
}

.alternativa .esbranquicado::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: rgba(255, 255, 255, 0.6);
}

/*--------------------------------------------------------------------------
----------------------------Fim Respostas Quizz-----------------------------
--------------------------------------------------------------------------*/

.alternativa .legenda {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  word-wrap: break-word;
  flex-wrap: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.correto {
  color: #009c22;
}

.errado {
  color: #ff4b4b;
}
/*--------------------------------------------------------------------------
----------------------------CSS DOS FORMULARIOS-----------------------------
--------------------------------------------------------------------------*/

.formulario {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario form {
  background-color: white;
  padding: 20px;
  margin-top: 27px;
  min-width: 600px;
}

.formulario input {
  display: block;
  width: 564px;
  height: 46px;
  margin-bottom: 9px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  padding-left: 24px;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  color: #bababa;
}

.formulario h1,
.formulario-final h1 {
  text-align: center;
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
}

::placeholder {
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  color: #bababa;
}

.formulario button {
  background: #ec362d;
  width: 368.86px;
  height: 54px;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: #fff5f4;
  border-radius: 15px;
  border: none;
  margin-top: 82px;
  transition: ease-in-out all 0.6;
}

.formulario button:hover {
  cursor: pointer;
  background-color: #ec180d;
}

.formulario legend,
.formulario label {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 14px;
  margin-top: 7px;
}

.formulario input[type="color"] {
  padding: unset;
}

.formulario fieldset {
  margin-top: 24px;
}

.formulario fieldset:first-child {
  margin-top: unset;
}

#respostas-incorretas input:nth-child(2n + 1) {
  margin-bottom: 20px;
}

#respostas-incorretas input:last-child {
  margin: unset;
}

.form-encolhido {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.form-encolhido svg {
  width: 26px;
  height: 26px;
}

.form-encolhido svg:hover {
  cursor: pointer;
}

.form-encolhido legend {
  margin: unset;
}

.formulario-final button {
  margin-top: 45px;
}

.formulario-final p {
  margin-top: 19px;
  color: #818181;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
}

.formulario-final p {
  cursor: pointer;
}

.formulario-final .quizz {
  width: 500px;
  height: 266px;
}

.formulario-final .quizz img {
  margin-top: 0;
  width: 100%;
  height: 100%;
}

.formulario-final h1 {
  margin-bottom: 46px;
}

.formulario-niveis form fieldset > div:last-child {
  margin-top: 14px;
}

.formulario-perguntas form > div:last-child {
  margin-top: 14px;
}

/*--------------------------------------------------------------------------
----------------------------FIM DO CSS DOS FORMULARIOS-----------------------------
--------------------------------------------------------------------------*/
.quadro-geral-resultado {
  display: flex;
  justify-content: center;
  margin-top: 44px;
  margin-bottom: 57px;
}
.quadro-resultado {
  background-color: #ffffff;
  width: 759px;
  height: auto;
  padding: 18px 14px 18px 18px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.retangulo-resultado {
  background-color: #ec362d;
  height: 99px;
  width: 727px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
}
.titulo-resultado {
  font-family: "Roboto";
  font-size: 23px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  word-wrap: break-word;
  flex-wrap: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.corpo-resultado img {
  width: 364px;
  height: 273px;
  margin-right: 21px;
}
.corpo-resultado {
  display: flex;
}
.descricao-resposta {
  font-family: "Roboto";
  width: 328px;
  font-size: 19px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  word-wrap: break-word;
  flex-wrap: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #484848;
}
.fim-do-quizz {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.fim-do-quizz button {
  background: #ec362d;
  width: 260.38px;
  height: 52px;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: #fff5f4;
  border-radius: 15px;
  border: none;
  margin-top: 57px;
  transition: ease-in-out all 0.6;
  margin-bottom: 16px;
}

.fim-do-quizz button:hover {
  cursor: pointer;
  background-color: #ec180d;
}

.fim-do-quizz p {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Roboto";
  font-size: 21px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: #818181;
  cursor: pointer;
}
/* classe pra esconder as coisas e trocar de tela, vou deixando ela mais abaixo no codigo css */
.escondido {
  display: none;
}

@media (max-width: 1100px) {
  .container {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .criar-quizz {
    width: 90%;
  }

  .titulo-seus-quizzes {
    justify-content: space-between;
    width: 90%;
  }

  .seus-quizzes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .todos-meus-quizzes {
    justify-content: center;
  }

  .todos-quizzes {
    display: flex;
    justify-content: center;
  }

  h1 {
    width: 90%;
  }
  .cabecalho-quizz::after {
    height: 142px;
  }
  .cabecalho-quizz > img {
    height: 142px;
    object-position: 0 0;
  }
  .texto-janela-quizz {
    font-size: 19px;
    line-height: 22px;
    width: 82.5%;
  }
  .quadro-respostas {
    width: 100%;
    padding: 18px;
    margin-top: 88px;
  }

  .alternativa .legenda {
    font-size: 13px;
    line-height: 15px;
  }
  .respostas-quizz .repostas {
    gap: 12px;
  }
  .respostas-quizz .repostas img {
    width: 163px;
    height: 113px;
    object-fit: cover;
  }

  .cabecalho-quadro-respostas {
    width: 100%;
    max-width: 675px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 19px;
    line-height: 22px;
  }
  .formulario {
    margin-top: 106px;
  }
  .formulario form {
    min-width: 300px;
    max-width: 604px;
    width: 100%;
    padding: 18px;
  }
  .formulario input {
    width: 100%;
    max-width: 564px;
  }
  .formulario h1,
  .formulario-final h1 {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
  }
  .formulario button {
    font-size: 18px;
    line-height: 21px;
    margin-top: 29px;
    width: 86.4%;
    max-width: 368.86px;
  }
  .formulario-final .quizz {
    width: 364px;
    height: 181px;
  }
  .quizz:after {
    border-radius: 5px;
    object-fit: cover;
  }
  .formulario-final p {
    font-size: 18px;
    line-height: 21px;
  }
  body {
    padding-bottom: 30px;
  }
  .alternativa .esbranquicado::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 163px;
    height: 113px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.6);
  }
  .respostas img {
    width: 163px;
    height: 113px;
  }
  .retangulo-resultado {
    width: 340px;
    height: 89px;
  }
  .corpo-resultado {
    flex-direction: column;
    width: 375px;
    height: auto;
  }
  .corpo-resultado img {
    width: 340px;
    height: 255px;
  }
  .quadro-resultado {
    width: 375px;
    max-width: 759px;
  }
  .descricao-resposta {
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 9px;
  }

  .fim-do-quizz button {
    margin-top: -10px;
    width: 220px;
    height: 44px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
  }
  .fim-do-quizz p {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
  }
}

.escondido {
  display: none;
}
